@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

a:link, a:visited {
    text-decoration: none;
}

.maininfo {
    min-height: 80vh;
}

.stack-img {
    width: 100px;
    height: 100px;
}

.profile {
    width: 450px;
    height: 450px;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
}

.alien {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 1200px) {
    .profile {
        width: 600px;
        height: 350px;
    }
}

@media (max-width: 750px) {
    .head-box {
        width: 100% !important;
    }

    .profile {
        width: 300px;
        height: 300px;
    }
}