.main-projects {
  width: 90%;
}

.cards-projects {
  width: 99%;
  height: 500px !important;
}

.cards-img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.cards-img {
  transform: scale(1.0);
  transition: 0.2s;
  width: 100% !important;
  height: 180px !important;
  object-fit: cover;
}

@media (max-width: 750px) {
  .cards-projects {
    width: 99%;
  }
}