a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(123, 127, 163);
    filter: brightness(90%)
}

.icon-box {
    width: 25%;
}

@media (max-width: 1200px) {
    .icon-box {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .icon-box {
        width: 75%;
    }
}